$primaryColor:#3f51b5;
$primaryDarkColor:#283593;
$primaryLightColor:#9fa8da;
$primaryLightestColor:#e8eaf6;
$primaryTextColor:#ffffff;
$accentColor:#E91E63;
$accentDarkColor: #ad1457;
$accentLightColor: #f48fb1;
$accentTextColor: #ffffff;
$horizontalSubmenuitemHoverBgColor:#E0E0E0;

@import '../sass/theme/_theme';
